body
{
	background-color:#3d3f42;
}
#table3
{
		width:90%;
	    border-collapse: collapse;
		background-color:white;
		position:absolute;
		top:120px;
		left:55px;
}
th
{
	background-color:green;
	color:white;
	height:50px;
	text-align:left;
}
button
{    margin-right: -30px;
}
#replaydiv
{
	display:none;
	height: 200px;
    width: 280px;
	position:absolute;
	top:160px;
	left:260px;
	background-color:green;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
}
#replaytable
{
    padding-top: 20px;
}
#replaycancle
{
	position:absolute;
	left:130px;
	top:150px;
}
#replayok
{
	position:absolute;
	left:70px;
	top:150px;
}