body {
	background-color: #3d3f42;
}
td {
	color:white;
	padding:5px;
}
table
{
	padding-top :66px;
	padding-left:14px;
}
#loginBtn
{
	position:absolute;
	top:150px;
}
#signupBtn
{
	position:absolute;
	top:178px;
	left:120px;
}
#a
{
    position: absolute;
    top: 180px;
    left: 120px;
}
#msgs
{
    position: absolute;
    top: 188px;
    left: 90px;
	color:rgb(124, 6, 6);
}
#msgl
{
    position: absolute;
    top: 188px;
    left: 25px;
	color:rgb(124, 6, 6);
}
.modual1
{
    height: 250px;
    width: 300px;
    background-color: green;
    position: absolute;
    left: 500px;
    top: 200px;
	box-shadow:10px 10px black;
	border-radius:25px;
	}
.modual2
{
	position:absolute;
	left:120px;
}