body
{
	background-color:#3d3f42;
}
#table1
{
		width:90%;
	    border-collapse: collapse;
		background-color:white;
		position:absolute;
		top:120px;
		left:55px;
}
th
{
	background-color:green;
	color:white;
	height:50px;
	text-align:left;
}
tr
{
	height:30px;
}
#th1
{
	width:140px;
}
#th4
{
	width:115px;
}
#addBtn
{
	position: absolute;
    top: 63px;
    left: 55px;
    height: 45px;
    width: 129px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 13px;
    font-size: 20px
}
#th5
{
	width:100px;
}
#adddata
{
    position: absolute;
    top: 150px;
    left: 505px;
    height: 255px;
    width: 350px;
	background-color:green;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	display:none;
}
#table2
{
	width:90%;
	border-collapse: collapse;
	position:absolute;
	top:35px;
	left:25px;
}
#okBtn
{
	position: absolute;
    top: 150px;
    left: 105px;
}
#cancleBtn
{
	position: absolute;
    top: 150px;
    left: 155px;
}