<html>
        <head>
        <link rel="stylesheet" type="text/css" href="admin.css">
        <title>admin</title>
        </head>
        <body>
        <table id = "table3">
        <tr>
        <th>Sr No.</th>
        <th id ="th1">Refrence No.</th>
        <th>Category</th>
        <th>Discription</th>
        <th id="th4">Status</th>
        <th id="th5"></th>
        </tr>
        <% n=1 %>
        <% for (var i = 0;i < data.length;i++ ) { %>
            <% var k = data[i].entry; %>
        <% for (var j = 0;j < k.length;j++ ) { %>
            <tr>
        <td><%= n %></td>
              <td><%= k[j].ref %></td>
              <td><%= k[j].cat %></td>
              <td><%= k[j].disc %></td>
              <td><%= k[j].status %></td>
              <td><button type='submit' id=<%= k[j].ref %> onclick='replay(this)'>replay</button></td>
              <td><button type='submit' id=<%= k[j].ref%> onclick='delet1(this)'>delete</button></td>
            </tr>  
            <% n++ %>  
          <% } %>
          <% } %>
        </table>
        <script src="main.js"></script>
        <div id="replaydiv">
        <table id="replaytable">
        <tr>
        <td>Replay</td>
        <td>
        <textarea id="replay"cols="25" rows="7"></textarea>
        </td>
        </tr>
        <tr colspan="2">
        <td>
        <button type="button" id= "replayok" onclick="replayok()">Ok</button>
        <button type="button" id= "replaycancle" onclick="replaycancle()">Cancle</button>
        </td>
        </tr>
        </div>
        </div>