<html>
        <head>
        <title>login</title>
        <link rel="stylesheet" type="text/css" href = "main.css" />
        </head>
        <body>
        <div class = "modual1">
        <form method="post" action="/login" >
        <table id="table11">
        <tr id="row1">
        <td>Username:</td>
        <td><input type="text"/ id="username" name ="username"></td>
        </tr>
        <tr id="row2">
        <td>Password:</td>
        <td><input type="password" id="password" name = "password"></td>
        </tr>
        <tr id="row3">
        <td colspan ="2"><input type="submit" id="loginBtn" class ="modual2" value="Login"></td>
        </tr>
        </table>
        </form>
        <a id = "a" href = "signup.html">Signup</a>
        <p id="msgl"><%= msg %></p>
        </div>
        
        <script src="main.js"> </script>
        </body>
        </html>