<html>
        <head>
        <link rel="stylesheet" type="text/css" href = "main.css" />
        <title>signup</title>
        </head>
        <body>
        <div class = "modual1">
        <form method="post" action="/">
        <table>
        <tr>
        <td>Email</td>
        <td><input type="text" id = "email" name = "email"></td>
        </tr>
        <tr>
        <td>Username</td>
        <td><input type="text" id="username1" name='username'></td>
        </tr>
        <tr>
        <td>Password</td>
        <td><input type="password" id="password1" name ="password"></td>
        </tr>
        <td colspan ="2"> <input type="submit" id = "signupBtn" value="submit" /></td>
        </tr>
        </table>
        </form>
        <p id="msgs"><%= msg %></p>
        </body>
        </html>
        <script src="main.js"> </script>