<html>
    <head>
    <link rel="stylesheet" type="text/css" href="user.css">
    <title>user</title>
    </head>
    <body>
    <button type="button" id="addBtn" onclick = "add()">Add</button>
    <form method="post" action="/newentry">
    <table id = "table1">
    <tr>
      <th>Sr No.</th>
    <th id ="th1">Refrence No.</th>
    <th>Category</th>
    <th>Discription</th>
    <th id="th4">Status</th>
    <th id="th5"></th>
    </tr>
    <% for (var i = 0;i < data.length;i++ ) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= data[i].ref %></td>
        <td><%= data[i].cat %></td>
        <td><%= data[i].disc %></td>
        <td><%= data[i].status %></td>
        <td><button type='button' id=<%= data[i].ref %> onclick='delet(this)'>delete</button></td>
      </tr>    
    <% } %>
    </table>
    </form>
    <div id="adddata">
        <form method="post" action="/newentry">
    <table id = "table2">
    <tr>
    <td color = "white"> Category:</td>
    <td>
    <select id = "category" name="category">
    <option>Select</option>
    <option>Network</option>
    <option>Service</option>
    <option>Payment</option>
    <option>Billing</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>Discription:</td>
    <td><textarea rows = "6" cols ="25" id = "discription" name = "discription"></textarea></td>
    <tr colspan = "2">
    <td><button type="submit" id ="okBtn" onclick="ok()">Ok</button>
    <button type="button" id ="cancleBtn" onclick="cancle()">Cancle</button></td>
    </table>
    <div>
    </form>
    </body>
    </html>
    <script src="main.js"></script>